{{#extends 'base'}}

{{#block 'content'}}

    <div class="container">
        <form method="POST">
        <div>
            <label>Title: </label>
            <input type="text" name="title" class="form-control">
        </div>
        <div>
            <label>ISBN: </label>
            <input type="text" name="isbn" class="form-control">
        </div>
        <input type="submit" class="btn btn-primary mt-3" />
        </form>
    </div>


{{/block}}

{{/extends}}